<div class="media">
  <div class="media-left">
    <%= link_to image_tag(problem.image.url, class: 'media-object'), problem.image.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= problem.title %></h4>
  </div>
</div>
